<% content_for :title do %>Hypothes.is dashboard<% end %>
<div style="background-color:#ffffff;">
  <div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Image" data-image="/hypo_logo.png"
             style="background-color:#ffffff;"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div style="background-color:#96bf48;"
           data-id="numberOfAnnotations"
           data-view="Number"
           data-title="Total Annotations"
           data-moreinfo=""
           data-prefix=""></div>
      </li>
    </ul>
  </div>
</div>
